html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: rgb(248, 248, 248);
}

.about-container {
	width: 400px;
	top: 50%;
	margin-top:-275px;
	left: 15%;
	font-family: 'Libre Baskerville', serif;
	position: relative;
}

.about-container h1 {
	font-size: 60px;
	margin: 0 0 30px 0;
	letter-spacing: 2px;
}

.about-container h2 {
	margin: 0 0 10px 0;
	font-family: 'Avenir', sans-serif;
	src: url('/fonts/avenir.TTF') format('TTF');
	font-weight: 600;
	font-size: 14px;
}

.about-container .quote {
	font-family: 'Avenir Next Condensed', sans-serif;
	src: url('/fonts/avenir_next_condensed.TTF') format('TTF');
	font-size: 13px;
	letter-spacing: 0;
	position: relative;
	left: 50px;
	top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

.about-container span {
	display: block;
	margin: 15px 0;
	font-size: 12.5px;
	line-height: 22px;
	letter-spacing: 0.3px;
}

.about-container .skills {
	text-transform: uppercase;
	font-family: 'Avenir', serif;
	src: url('/fonts/avenir.OTF') format('OTF');
	font-weight: 900;
	font-size: 11px;
	letter-spacing: 2px;
	margin: 30px 0 0 0;
	text-align: justify;
	width: 100%;
}

.skills:after {
  content: "";
  display: inline-block;
  width: 100%;
}


.about-container a,
.about-container a:visited {
	margin: 10px;
	display: inline-block;
	color: black;
}

.about-container a:hover {
	color: blue;
}


.about-container a:first-child {
	margin-left: 0px;
}